<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="RestaurantMgnt" connectionString="Data Source =D:\项目\Projects\RestaurantMgnt\RestaurantMgnt.UI\App_Data\Restaurant.db ;version=3;"/>
  </connectionStrings>
</configuration>